<div class="modal-shiftfix">
	<div class="container-fluid main-content" style="padding-bottom:0px">
		<div class="row mobile">
			<!-- Conversation -->
			<div id="chat_container" class="col-lg-12" style="padding:0px">
				<div class="widget-container chat" style="padding-bottom:0px;background-color:rgb(253,248,234)">
						<%=render :partial => 'layouts/common_view', :locals => {:mode => 'mobile'}%>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var my_user_id = '<%=@my_user_id%>' //TODO change this.
	var target_user_id = '1'
	<%=render :partial => 'layouts/common_function', :locals => {:mode => 'mobile'}%>
</script>
<script>
	$(function(){
		//screen_height = document.body.clientHeight
		//post_message_height = $("#post_message").height()
		//height = screen_height - post_message_height - 10
		//$("#message_div").css("height", height)
	})
</script>
