<div class="modal-shiftfix">
	<div class="container-fluid main-content">
		<div class="row">
			<!-- Conversation -->
			<div class="col-lg-12">
				<div class="widget-container scrollable chat">
					<%=render :partial => 'layouts/common_view', :locals => {:mode => 'mobile'}%>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	<%=render :partial => 'layouts/common_function', :locals => {:mode => 'mobile'}%>
</script>
