<div class="modal-shiftfix">
	<!-- End Navigation -->
	<div class="container-fluid main-content">
		<div class="page-title">
			<h1>
				Chat
			</h1>
		</div>
		<div class="row">
			<!-- Conversation -->
			<div class="col-lg-12">
				<div class="widget-container scrollable chat chat-page">
					<div class="contact-list">
						<div class="heading">
							Contacts (15)<i class="icon-plus pull-right"></i>
						</div>
						<ul>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.png">Walter White<i class="icon-circle text-danger"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female2.png">Jessie Pinkman<i class="icon-circle text-success"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">Skyler White<i class="icon-circle text-warning"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.png">Flynn White<i class="icon-circle text-danger"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female2.png">Hank Schrader<i class="icon-circle text-muted"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">Marie Schrader<i class="icon-circle text-success"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.png">Steve Gomez<i class="icon-circle text-warning"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female2.png">Saul Goodman<i class="icon-circle text-success"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">Mike Ehrmantraut<i class="icon-circle text-success"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.png">Gustavo Fring<i class="icon-circle text-muted"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female2.png">Skinny Pete<i class="icon-circle text-muted"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">Badger<i class="icon-circle text-success"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.png">Gale Boetticher<i class="icon-circle text-warning"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female2.png">Huell<i class="icon-circle text-muted"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">Ted Beneke<i class="icon-circle text-success"></i></a>
							</li>
							<li>
								<a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#"><img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.png">Bogdan Wolynetz<i class="icon-circle text-warning"></i></a>
							</li>
						</ul>
					</div>
					<div class="heading">
						<i class="icon-comments"></i>Chat with <a href="file:///Users/hogoo/Desktop/build%20%E1%84%87%E1%85%A9%E1%86%A8%E1%84%89%E1%85%A1%E1%84%87%E1%85%A9%E1%86%AB/chat.html#">John Smith</a><i class="icon-cog pull-right"></i><i class="icon-smile pull-right"></i>
					</div>
					<div class="widget-content padded">
						<ul>
							<li>
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">
								<div class="bubble">
									<a class="user-name" href="">John Smith</a>
									<p class="message">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li class="current-user">
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.jpg">
								<div class="bubble">
									<a class="user-name" href="">Jane Smith</a>
									<p class="message">
										Donec odio. Quisque volutpat mattis eros.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li>
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">
								<div class="bubble">
									<a class="user-name" href="">John Smith</a>
									<p class="message">
										Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li>
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">
								<div class="bubble">
									<a class="user-name" href="">John Smith</a>
									<p class="message">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li class="current-user">
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.jpg">
								<div class="bubble">
									<a class="user-name" href="">Jane Smith</a>
									<p class="message">
										Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li>
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">
								<div class="bubble">
									<a class="user-name" href="">John Smith</a>
									<p class="message">
										Donec odio. Quisque volutpat mattis eros.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li class="current-user">
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.jpg">
								<div class="bubble">
									<a class="user-name" href="">Jane Smith</a>
									<p class="message">
										Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li class="current-user">
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.jpg">
								<div class="bubble">
									<a class="user-name" href="">Jane Smith</a>
									<p class="message">
										Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. 
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li>
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">
								<div class="bubble">
									<a class="user-name" href="">John Smith</a>
									<p class="message">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li class="current-user">
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-female.jpg">
								<div class="bubble">
									<a class="user-name" href="">Jane Smith</a>
									<p class="message">
										Sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
							<li>
								<img width="30" height="30" src="./se7en - Dashboard17_files/avatar-male.jpg">
								<div class="bubble">
									<a class="user-name" href="">John Smith</a>
									<p class="message">
										Consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
									</p>
									<p class="time">
										<strong>Today </strong>3:53 pm
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="post-message">
						<input class="form-control" placeholder="Write your message here&#65533;&#65533;" type="text"><input type="submit" value="Send">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

