//<script>
//my_user_id is in web/mobile index.html.erb
//target_user_id is in web/mobile index.html.erb
	$(function(){

    var pusher = new Pusher('ff5d6babad3bf1eb28c6');
    var channel = pusher.subscribe(my_user_id); 
    channel.bind('new_msg', function(data) {
      console.log(my_user_id);
      console.log(data);
			if(data.send_id != my_user_id){
				message_form = make_message_form("ldh.png", data.send_id, data.content, data.time ,"");
				$("#message_area").append(message_form);
			}
    });

		$("#message_send").bind("click",function(){
			time = "12:30"
			message_text = $("#message_text").val();
			message_form = make_message_form("ldh.png", my_user_id, message_text, time ,"current-user");

			$("#message_area").append(message_form);
			$("#message_text").val("");
			sh=$("#message_area").height()
			$("#message_div").scrollTop(sh)
			$("#message_text").focus();
//message to push action
			$.ajax({
				url: "/push_message",
				type: "POST",
				data: {
					target_user_id: target_user_id,
					send_user_id: my_user_id,
					content: message_text
				},
				success: function(data) {
					//alert(data)
				}
			})
		})

		$('#message_text').bind('keypress', function(e) {
			if (e.which == 13) { /* 13 == enter key@ascii */
					$('#message_send').click();
			}
		});
	});
	function make_message_form(photo_filename, name, message, time, class_name){
		message_form =
			'<li class="' + class_name + ' <%=mode%>">'
			+'	<img class="<%= mode%>" src="player/' + photo_filename + '">'
			+'	<div class="bubble">'
			+		 '<p>' + name + '</p>'
			+'		<p class="message">'
			+ 			message
			+'		</p>'
			+'		<p class="time">'
			+'			<strong>' + time
			+'		</p>'
			+'	</div>'
			+'</li>';
		return message_form;
	}
