				<%if mode == 'mobile'%>	
					<div id="message_div" class="widget-content">
				<%elsif mode == 'web'%>	
					<div id="message_div" class="widget-content padded">
				<%end%>
						<ul id="message_area">
						</ul>
					</div>
        <%#if mode == 'web'%>
					<div id="post_message" class="post-message">
						<input id="message_text" class="form-control" placeholder="Write your message here" type="text">
						<div id="message_send" class="send-div" style="cursor:pointer">send<div>
					</div>
        <%#end%>
